
nav{
    z-index: 1;
}
li{
    color: white;
}
.left{
    float: right;
    padding-left: 50px ;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

ul{
    list-style: none;
    
}
 #name{
    float: left;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 50px;    
}
.firstimage
{
    position: absolute;
    z-index: -1;
}

.title{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 300px;
    margin: auto;
}
